h1{
    color:rgb(63, 18, 226);
    background-color: rgb(99, 168, 129);
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    border:2px solid black

}

#myForm{
    color:rgb(6, 1, 26);
    background-color: rgb(155, 205, 177);
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style: italic;
    border:2px solid black
}

.btn{
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style: italic;
    border:2px solid black
}

#expList{
    font-weight: bold;
    
}